<tbody>
  <tr>
    <td style="box-sizing:border-box;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;vertical-align:top" valign="top">
      <p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">
      Hi <%=@user.first_name%>,
      </p>
      <p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">
      Unfortunately <%=@canceler.full_name%> <%= @booking.created_at.strftime("Has canceled your booking made on the %m/%d/%Y") %>
      </p>
      <p>
      Click the link below to see the booking details
      </p>
      <p>
      <strong><a href="http://localhost:3001/dashboard" style="box-sizing:border-box;color:#5087F5;font-weight:bold;text-decoration:underline" target="_blank">View booking details.</a>.</strong>
      </p>
      <p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">With love,</p>
      <p style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px;padding:0">The Eva妈妈 team.</p>
    </td>
  </tr>
</tbody>
